<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.author.name }}",
  "url": "{{ site.url }}{{ site.baseurl }}/",
  "jobTitle": "Author, Theologian, Speaker",
  "description": "{{ site.description | strip_newlines }}",
  "sameAs": [
    "{{ site.social_links.facebook }}",
    "{{ site.social_links.instagram }}",
    "{{ site.social_links.x }}",
    "{{ site.social_links.youtube }}",
    "{{ site.social_links.substack }}"
  ]
}
</script>
