<footer class="site-footer-7a">
  <div class="site-footer-7a__disclosure">
    {{ site.affiliate_disclosure }} &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}.
  </div>
  <div class="site-footer-7a__social">
    <a class="social-icon-7a social-icon-7a--lav" href="{{ site.social_links.facebook }}" aria-label="Facebook">FB</a>
    <a class="social-icon-7a social-icon-7a--teal" href="{{ site.social_links.instagram }}" aria-label="Instagram">IG</a>
    <a class="social-icon-7a social-icon-7a--blue" href="{{ site.social_links.x }}" aria-label="X">X</a>
  </div>
</footer>
