<footer class="site-footer-1a">
  <div class="site-footer-1a__disclosure">
    {{ site.affiliate_disclosure }} &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}.
  </div>
  <div class="site-footer-1a__social">
    <a class="social-icon-1a" href="{{ site.social_links.facebook }}" aria-label="Facebook">FB</a>
    <a class="social-icon-1a" href="{{ site.social_links.instagram }}" aria-label="Instagram">IG</a>
    <a class="social-icon-1a" href="{{ site.social_links.youtube }}" aria-label="YouTube">YT</a>
  </div>
</footer>
